* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#box-wrapper {
  display: none;
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  color: #f4f4f4;
  align-items: center;
}

#box-wrapper.show {
  display: flex;
}

#box {
  padding: 1rem;
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

#x {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

#x:focus {
  border: 1px solid #fff;
}

#box .show {
  display: block;
}

#box form {
  display: none;
}

#settings-form input,
#settings-button {
  display: block;
  padding: 0.75rem;
  width: 95%;
  margin: 1rem auto;
}

#settings-button {
  background: #47ad33;
  margin-top: 2rem;
  border: none;
}

#settings-button:focus {
  border: 1px solid white;
}

main {
  display: block;
  width: 80%;
  height: 55vh;
  margin: auto;
  text-align: center;
  background: #ff6c6c;
  color: #f4f4f4;
  padding: 1rem;
}

main.pmdr {
  color: #f4f4f4;
}

main.rest {
  background: #47ad33;
}

main button:hover,
main button:focus {
  background: #f4f4f4;
  color: #333;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: 1px solid #f4f4f4;
  outline: none;
  color: #f4f4f4;
  padding: 14px 16px;
  transition: all 0.4s;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffe4e4;
  height: 10vh;
}

.timer {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.main-header .buttons {
  height: 10vh;
}

.buttons .btn {
  margin-right: 1rem;
}

/* form section starts */

#task-form {
  display: grid;
  grid-template-columns: 15% 69% 15%;
  grid-gap: 0.5%;
  width: 80%;
  margin: 0.5rem auto;
}

#task-form input,
#task-form button {
  padding: 0.75rem;
  border: 1px solid #ccc;
  background: #f4f4f4;
  transition: all 0.3s;
}

#task-form input:focus {
  background: #fff;
}

#task-form button {
  background: #47ad33;
  color: #f4f4f4;
  outline: none;
  border: none;
}

#task-form button:focus {
  border: 1px solid #333;
}

/* tasks section starts */

.tasks {
  display: block;
  margin: 1rem auto;
}

.task-titles,
.task {
  display: grid;
  grid-template-columns: 15% 69% 15%;
  grid-gap: 1%;
  text-align: center;
  width: 80%;
  margin: 0.5rem auto;
}

.task {
  border: 1px solid #333;
  align-items: center;
  position: relative;
  padding: 0.75rem 0;
  border-radius: 3px;
  cursor: pointer;
}

section.listed {
  position: fixed;
  bottom: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 5px 5px 3rem #000;
  color: #f4f4f4;
  padding: 1rem;
  font-size: 1.3em;
}

.task-buttons {
  display: flex;
  justify-content: center;
}

.options {
  position: absolute;
  bottom: 80%;
  right: 0;
  z-index: 1;
  background: #fff;
  transform: scale(0, 0);
  transform-origin: left bottom;
  transition: all 0.2s;
}

.show-options {
  transform: scale(1, 1);
}

.options p {
  padding: 0.4rem;
  border: 1px solid #333;
  cursor: pointer;
}

.task button {
  padding: 0.5rem;
  border-radius: 50%;
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4rem;
  color: inherit;
  width: 1.4rem;
}

.task button:active,
.task button:focus {
  border-radius: 50%;
  background: #ccc;
}

@media screen and (max-width: 767px) {
  main,
  form,
  .tasks {
    width: 100%;
    padding: 0 1rem;
  }

  .task-titles,
  .task {
    width: 100%;
  }

  form {
    display: block;
  }

  form input,
  form button {
    margin: 0.5rem auto;
    width: 100%;
  }
}
